html, body {
	margin: 0;
	font-family: Arial;
	background-color: #f2f2f2;
}

nav {
	position: sticky;
	padding: 10px 0 8px 0;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /*box shadow by https://getcssscan.com/css-box-shadow-examples*/
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: ghostwhite;
}

nav > h3 {
	margin-left: 1rem;
}

/*-----------------------------------menu end here------------------------------------------------*/

.wcas {
	background-color: #2abd62;
	width: 100%;
	margin: 0;
	padding: 30px 0;
	color: whitesmoke;
	text-align: center;
}

.wcas > h2 {
	margin-bottom: 2px;
	margin-left: 35px;
	font-size: 32px;
	margin-top: 0;
	text-align: left;
}

.wcas > p {
	margin-top: 0;
	margin-right: 20px;
	margin-left: 35px;
	font-size: 22px;
	font-weight: 550;
	text-align: left;
}

.wcas > button {
	background-color: #e3d35b;
	border-radius: 6px;
	border: none;
	color: whitesmoke;
	font-size: 20px;
	padding: 10px 17px;
	cursor: pointer;
}

.wcas > button:hover {
	background-color: #dbcc5a;
}

#sdgList {
	text-align: center;
	margin-top: 20px;
}

#sdgList > strong {
	text-align: center;
}


#containerbox {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 2%;
	height: fit-content;
	
	border-radius: 7px;
}

#sdgBox {
	background-color: #f7f7f7;
	width: 100%;
	text-align: center;
	padding: 20px;
	border-radius: 7px;
	border: 1 px solid black;
	border-top: 8px solid #4eed9e;
	margin: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /*box shadow by https://getcssscan.com/css-box-shadow-examples*/
}

/*helped by- https://stackoverflow.com/questions/9913293/change-text-on-hover-then-return-to-the-previous-text/9913526*/

.learn-more {
	width: 100%;
	background-color: whitesmoke;
	border: 1px solid #26c910;
	padding: 10px 0;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 5px;
	transition: all .5s;
}

.learn-more:hover > span {
	display: none;
}

.learn-more:hover:before {
		content: "Learn More >";
}

.learn-more:hover {
	background-color: #26c910;
	transition: all .5s;
}

/* ----------code end here-----------*/

#inlineSdg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 5%;
}

.cubox {
	background-color: #1fff7c;
	padding: 15px 0 20px 0;
	width: 100%;
	margin-top: 60px;
	height: fit-content;
}

.cause {
	margin: 20px 20px 20px 40px;
}

.cause > h3 {
	font-size: 24px;
	flex-direction: column;
}

.strwoc {
	float: right;
	height: 150px;
	width: 150px;
	margin-right: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: -1.8rem;
	border-radius: 50%;
}

#fct {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0 18%;
}

.nmbr {
	border: 1px solid black;
	text-align: center;
	border-radius: 50%;
	padding: 15px;
	display: flex;
  width: 160px;
  height: 160px;
  align-content: center;
  flex-direction: column;
}

#sdfct {
	text-align: center;
	margin-top: 30px;
	font-size: 26px;
}

.nmbr > h4 {
	font-size: 31px;
	line-height: 20%;

}

.nmbr > p {
	font-size: 14px;
}

#fctdes {
	margin: 20px 40px 45px 40px;
}

#belowwtr {
	background-image: linear-gradient(90deg, #4fbaf0 70%, #4ce0a0);
	padding: 30px;
}

#belowwtr > h3 {
	font-size: 27px;
	line-height: 5%;
}

.bwtr {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.smal {
	padding-right: 15px;
}

#vid {
	text-align: center;
	margin-top: 30px;
}

#vid > h3 {
	margin-top: 60px;
	font-size: 29px;
}

#vid > p {
	text-align: left;
	margin: 20px 30px 20px 40px;
}

footer {
	background-color: #000;
	color: white;
	margin-top: 40px;
}

#ftr1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 40px;
}

#ftr1 > p {
	margin-left: 10px;
	font-size: 14px;
	margin-right: 20px;
}

#flw {
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	padding: 20px;
}

#flw > a {
	font-size: 29px;
	cursor: pointer;
	margin: 0 22px 0 22px;
	padding: 10px;
	border-radius: 7px;
}

#flw > a:hover {
	background-color: #3d3d3d;
}

.btmclr {
	background-image: linear-gradient(90deg, #34eb8f, #34cceb, #5e34eb, #eb34eb, #eb3458, #ebcc34);
	width: 100%;
	height: 10px;
}

/*-------------------------------------MOBILE VIEW------------------------------*/

@media screen and (max-width: 800px) {

#inlineSdg {
	display: flex;
	margin: 0 20px;
	flex-direction: column;
	justify-content: center;
  margin-bottom: 20px;
}

#sdgBox {
	background-color: #f7f7f7;
	width: 100%;
	text-align: center;
	padding: 20px;
	border-radius: 7px;
	border: 1 px solid black;
	margin-bottom: 20px;
	border-top: 8px solid #4eed9e;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /*box shadow by https://getcssscan.com/css-box-shadow-examples*/
}

#containerbox {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
	border-radius: 7px;
}

#fct {
	flex-direction: column;
}

#sdfct {
	margin-top: 30px;
	font-size: 24px;
}

.nmbr {
	border: 1px solid black;
	text-align: center;
	border-radius: 50%;
	padding: 15px;
	display: flex;
  width: 150px;
  margin-bottom: 20px;
  height: 150px;
  align-content: center;
  flex-direction: column;
}

.nmbr > h4 {
	font-size: 27px;
	line-height: 20%;

}

.nmbr > p {
	font-size: 14px;
}

#belowwtr {
	background-image: none;
	background-color: #4fbaf0;
	padding: 20px;
}

#belowwtr > h3 {
	font-size: 23px;
	margin-left: 25px;
}

.bwtr {
	flex-direction: column;
	margin-left: 25px;
}

.strwoc {
	float: none;
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-bottom: 5px;
	margin-top: -1.2rem;
	border-radius: 50%;
}

#vid > iframe {
	width: 95%;
}

#vid > h3 {
	margin-top: 60px;
	font-size: 24px;
}

#vid > p {
	text-align: left;
	margin: 20px 25px 20px 30px;
}

#flw > a {
	font-size: 29px;
	cursor: pointer;
	margin: 0 18px 0 18px;
	padding: 10px;
	border-radius: 7px;
}

	}